.footer {
    background-color: var(--light-bg);
    text-align: center;
}

.footer .share a {
    margin: .3rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--black);
}

.footer .share a:hover {
    background-color: var(--light-red);
}

.footer .credit {
    margin-top: 2.5rem;
    padding: 1.5rem;
    padding-bottom: 2.5rem;
    font-size: 2rem;
    color: var(--light-white);
}

.footer .credit span {
    color: var(--light-red);
}